nav.navbar.navbar( role="navigation" )
    .navbar-header
        button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand(href="/")= consts.navbar.title

    #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
            each link in consts.navbar.links
                li: a( href=link.href )= link.title
